{% extends 'base_generic.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    .login-container {
        background-color: #f8f9fa;
        height: 80vh;
        display: flex;
        align-items: center;
    }
    .login-card {
        max-width: 400px;
        margin: auto;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
    .login-card .card-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1.5rem;
        color: #333333;
    }
    .login-card .form-group {
        margin-bottom: 1.5rem;
    }
    .login-card label {
        font-weight: bold;
        color: #555555;
    }
    .login-card input[type="text"],
    .login-card input[type="password"] {
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
    }
    .login-card button[type="submit"] {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
    }
    .login-card button[type="submit"]:hover {
        background-color: #0056b3;
    }
    .login-card .mt-3 {
        font-size: 1rem;
    }
    .login-card .mt-3 a {
        color: #007bff;
        text-decoration: none;
    }
    .login-card .mt-3 a:hover {
        text-decoration: underline;
    }
</style>

<div class="login-container">
    <div class="login-card shadow-sm">
        <div class="card-body">
            <h2 class="card-title my-4">Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="mt-3 text-center">
                Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
